{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<div>
      <div class="bg-light p-5 rounded">
        <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
	  <br>
	  <p>Welcome to my blog! Here we'll be talking about everything Computer Science. Basics, frameworks, machine learning, any new tech or findings, and 
	  pretty much anything Computer Science related. Also, we'll be talking about latest tech news.</p>
          <p>Go visit at my <a href="https://youngjun-yoo16.github.io/">website</a> to know more about me!</p>
          <p>
            <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}